<!DOCTYPE HTML>
<head>
  <title>Text scoring</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon-tree.ico" />
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/skeleton.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
</head>
<body>
  <div class="container" style="padding-top: 80px;">

  {% block body %}{% endblock %}

  </div>
</body>
</html>
